* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  background-color: #f4f7fc;
}



.content {
  flex-grow: 1;
  padding: 40px;
}

.content h1 {
  font-size: 26px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

thead {
  background-color: #e0f0ff;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px 15px;
  text-align: left;
}

button {
  padding: 8px 12px;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 5px;
}

button.delete {
  background-color: #e74c3c;
}

button.add {
  background-color: #1abc9c;
}
